name: main
on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Create Strong Name Key file
        env:
          SNK_BASE64: ${{ secrets.SNK_BASE64 }}
        run: |
          if ($env:SNK_BASE64 -and $env:SNK_BASE64 -ne '') {
            [System.IO.File]::WriteAllBytes("ZingMP3Explode.snk", [System.Convert]::FromBase64String($env:SNK_BASE64))
          }
      - name: Build
        shell: powershell
        env:
          SNK_BASE64: ${{ secrets.SNK_BASE64 }}
        run: |
          if ($env:SNK_BASE64 -and $env:SNK_BASE64 -ne '') {
            dotnet build --no-restore
          } else {
            dotnet build --no-restore -p:SignAssembly=false
          }
      - name: Run tests
        run: dotnet test --no-build --verbosity normal

  pack:
    if: ${{ github.event_name == 'push' && github.ref_type == 'tag' }}
    runs-on: windows-latest
    permissions:
      actions: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - name: Install .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x
      - name: Get version information from tag
        id: get_version
        uses: battila7/get-version-action@v2
      - name: Create Strong Name Key file
        env:
          SNK_BASE64: ${{ secrets.SNK_BASE64 }}
        run: |
          if ($env:SNK_BASE64 -and $env:SNK_BASE64 -ne '') {
            [System.IO.File]::WriteAllBytes("ZingMP3Explode.snk", [System.Convert]::FromBase64String($env:SNK_BASE64))
          }
      - name: Create packages
        run: >
          dotnet pack
          -p:Version=${{ steps.get_version.outputs.version-without-v }}
          -p:ContinuousIntegrationBuild=true
          -c Release
      - name: Upload packages
        uses: actions/upload-artifact@v6
        with:
          name: packages
          path: |
              ZingMP3Explode/bin/Release/*.nupkg
              ZingMP3Explode/bin/Release/*.snupkg
          if-no-files-found: error

  deploy:
    runs-on: windows-latest
    permissions:
      actions: read
    needs: pack
    steps:
      - name: Install .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x
      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          path: ./artifacts
      - name: Push packages
        run: dotnet nuget push "artifacts/*" --skip-duplicate -s "https://api.nuget.org/v3/index.json" -k ${{ secrets.NUGET_API_KEY }}